<!DOCTYPE html>
<html ng-app="buzz">
<head lang="en">
    <meta charset="UTF-8">
    <title>Stick2Hockey Live! - Admin Page</title>
    <script src="includes/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="buzz.js"></script>
    <script src="includes/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="includes/bootstrap.min.css">
    <link rel="stylesheet" href="includes/main.css">
</head>
<body>
<div ng-controller="AdminCtrl" class="left" id="admin_view" >
    <h1>Admin side</h1>

<form ng-submit="postComment()" onclick ="this.form.reset()">
    <input  autocomplete="off" ng-model="txt" type="text" style="width:90%;height: 30px" /> <button style="width:9%">Post</button>
    <input id="photos" type="file" accept="image/*" multiple/>
</form>

<div id="messages" ng-repeat="comment in comments track by $index">
    <p >{{comment.txt}}</p>
    <div class="row">
        <div class="col-md-3" ng-repeat="pic in comment.pics"><img style="height:150px;" ng-src="{{pic}}"></div>
    </div>
</div>

</div>

<div ng-controller="ClientCtrl" class="right" id="client_view">
    <client-view></client-view>
</div>

</body>
</html>
