<!DOCTYPE html>
<html ng-app="buzz">
<head lang="en">
    <meta charset="UTF-8">
    <title>Stick2Hockey Live! - Client</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="includes/angular.js"></script>
    <script src="buzz.js"></script>
    <link rel="stylesheet" href="includes/bootstrap.min.css">
    <link rel="stylesheet" href="includes/main.css">


</head>
<body ng-controller="ClientCtrl">
<h1>Client side</h1>

<div id="messages" ng-repeat="comment in comments track by $index">
    <p >{{comment.txt}}</p>
    <div class="row">
    <div class="col-md-3" ng-repeat="pic in comment.pics"><img style="height:150px;" ng-src="{{pic}}"></div>
    </div>
</div>


</body>
</html>